<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>

<%= flash[:notice] %>

<div>
    <h4>Import data!</h4>
    <%= form_tag import_menus_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import from file" %>
    <%end%>
</div>
<table>
    <thead>
        <tr>
            <th>item</th>
            <th>decription</th>
            <th>price</th>
            <th>category</th>
        </tr>
    </thead>
    <tbody>
        <% @menus.each do |menu| %>
            <tr>
                <td><%= menu.item %></td>
                <td><%= menu.description %></td>
                <td><%= menu.price %></td>
                <td><%= menu.catagory%></td>
            </tr>
        <%end%>
    </tbody>
</table>

